<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <link rel="stylesheet" href="/application.css" type =text/css />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">

    <div id="win-height">

      <nav>
        <ul>
          <%= link_to "Home", root_path %>
          <%= link_to "Projects", projects_path %>
          <%= link_to "Resume", resumes_path %>
          <%= link_to "Blog", blogs_path %>
          <%= link_to "About", hollys_path %>
        </ul>
      </nav>

      <div class="content-area">
        <% if @blogs %>
          <div class="row">
            <div class="col-md-10">
              <%= yield %>
            </div>
            <div class="col-md-2">
              <%= render "layouts/blog_sidebar" %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        <% end %>
      </div><!--content-area-->

    </div><!--winheight-->


    <% if (params["controller"].eql?("holly") && params["action"].eql?("index"))  %>
      <%= render "layouts/contact_footer" %>
    <% end %>


  </div><!--container-->

</body>
</html>
